# This file is a template for the .env file that will be used in the project.
# The .env file is used to store environment variables that will be used in the project.

# ----------------------------------------
# NODE ENVIRONMENT
# ----------------------------------------

# The port that the server will run on
PORT=3000
# The environment that the server is running in (local, development, production)
NODE_ENV=development

# ----------------------------------------
# MONGODB CONFIGURATION
# ----------------------------------------

# The MongoDB connection string
DB_URL=mongodb://localhost:27017/mydatabase
