# This file is a template for the .env file that will be used in the project.
# The .env file is used to store environment variables that will be used in the project.

# ----------------------------------------
# NODE ENVIRONMENT
# ----------------------------------------

# The port that the server will run on
PORT=3000
# The environment that the server is running in (local, development, production)
NODE_ENV=development

# ----------------------------------------
# MONGODB CONFIGURATION
# ----------------------------------------

# The MongoDB connection string
DB_URL=mongodb://localhost:27017/mydatabase


# ----------------------------------------
# JWT CONFIGURATION
# ----------------------------------------

# The secret key used to sign JWT tokens
JWT_SECRET=mysecretkey
# The expiration time for JWT tokens
JWT_EXPIRATION=1h


# ----------------------------------------
# EMAIL NOTIFICATIONS CONFIGURATION
# ----------------------------------------

# The email address to send notifications from
USER_NOTIFICATIONS=myemail@example.com
# The password for the email account
PASSWORD_NOTIFICATIONS=mypassword

# ----------------------------------------
# SERVER URL
# ----------------------------------------
# The URL of the server
URL_SERVER=http://localhost:3000
